/* reset all the common web browser styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* decreasing the size of html document */
html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    /* displaying content in center vertically */
    display: flex;
    align-items: center;
    background-color: #030a1b;
    /* creating a 3D environtment  */
    perspective: 40rem;
}

.menu {
    width: 100%;
    /* creating space on left and right side using padding  */
    padding: 0 25rem;
    display: flex;
    /* using justify-content to space content evenly */
    justify-content: space-evenly;
    /* making the boxes look more 3D  */
    transform-style: preserve-3d;
}

.menu-item {
    width: 20rem;
    height: 15rem;
    background-color: #5588dd;
    /* this centers the icons in the middle of the boxes  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius makes the boxes more rounded than sharp */
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(100, 100, 255, .4);
    opacity: .6;
}

.menu-item:not(.center-item) {
    opacity: 0;
}

/* hiding the menu items in 3 directions  */
/* will also rotate through X and Y axis */
/* this will make the icon have a transistion when you hover/click on the home button  */
.menu-item:nth-child(1) {
    transform: rotateY(-70deg) rotateX(20deg) translateX(-50rem) translateY(-15rem) translateZ(-50rem);
}

.menu-item:nth-child(2) {
    transform: rotateY(-70deg) rotateX(20deg) translateX(-20rem) translateY(-5rem) translateZ(-20rem);
}

.menu-item:nth-child(3) {
    transform: rotateX(20deg);
}

.menu-item:nth-child(4) {
    transform: rotateY(70deg) rotateX(20deg) translateX(20rem) translateY(-5rem) translateZ(-20rem);
}

.menu-item:nth-child(5) {
    transform: rotateY(70deg) rotateX(20deg) translateX(50rem) translateY(-15rem) translateZ(-50rem);
}

.menu-item i {
    font-size: 7rem;
    color: #222;
}